<ion-content class="camera-container">
  <div class="camera-content">
    <ion-button
      expand="full"
      (click)="startCaptureFlow()"
      [disabled]="isOpeningPicker || isProcessing"
      size="large"
      class="camera-button"
    >
      <ion-icon name="camera-outline" slot="start"></ion-icon>
      {{ (isOpeningPicker || isProcessing) ? 'Working…' : 'Add garment photo' }}
    </ion-button>

    <p class="camera-hint">
      Choose Camera or Photo Library. Your image will be processed automatically.
    </p>
  </div>
</ion-content>
