.masonry-container {
  column-count: 2;
  column-gap: 16px;
  padding: 16px;

  @media (min-width: 768px) {
    column-count: 3;
  }
}

.masonry-item {
  display: inline-block;
  width: 100%;
  margin-bottom: 16px;
  break-inside: avoid-column;
}

ion-searchbar{
  margin: 30px,
}
